doctype html
html(lang="en")
    head
        title Create Contact Property
        link(rel="stylesheet", href="/css/style.css")
    body
        header
            .container 
                img(src='./uploads/instrumental-group_imagotype-blue.svg')    
        .row
            .container
                 p Creating properties